#navbar {
    background: white;
    position: fixed;
    top:0;
    width: 100%;
    color: black;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header a,
h1.header-title {
    color: black;
    text-decoration: none;
}

.header-title {

}

.user-box {
    display: flex;
    align-items: center;
    position: relative;
    right: 45px;
}

.user-box img {
    position: relative;
    top: 15px;
    left: 15px;
}
